{% extends 'base.html.twig' %}

{% block body %}
	{% if is_granted('ROLE_TEAM') %}
		<div class="d-flex justify-content-center align-items-center">

			<div class="form-create container-xl bg-light mt-5 pe-md-5 ps-md-5 pt-3 pb-4 m-1 shadow-sm rounded">
				<div class="d-flex justify-content-between align-items-center ">
					<h1 class="">Les structures
						<span class="display-5">BodyWolf</span>
					</h1>

					<div class="d-flex align-items-center justify-content-end">
						<a class="btn btn-primary text-light me-5" href="{{ path('app_structure_new') }}">Ajouter</a>

					</div>
				</div>

				<hr class="my-4">

				<table class="table">
					<thead>
						<tr class="bg-primary text-light">
							<th>Statut</th>
							<th>Partenaire</th>
							<th>Email du partenaire</th>
							<th class="me-5">Actions</th>
						</tr>
					</thead>
					<div class="d-flex flex-row-reverse">
						<button class="btn btn-warning m-2 shadow dropdown" data-bs-toggle="dropdown" aria-expanded="false">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewbox="0 0 16 16">
								<path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
							</svg>
						</button>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" id="js-all" href="#">Toutes</a>
							</li>
							<li>
								<a class="dropdown-item" id="js-active" href="#">Activées</a>
							</li>
							<li>
								<a class="dropdown-item" id="js-unactive" href="#">désactivées</a>
							</li>
						</ul>

					</div>

					<tbody class="bg-warning">
						{% for structure in structures %}
							<tr js-data-structure id="jsStructure">
								<td>
									{{ structure.isActive ? '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
  								<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
								</svg>' : '<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x-lg text-danger" viewBox="0 0 16 16">
  								<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
								</svg>' }}
									{# {% set activer = '' %}{% set deactiver = '' %}style="{{ partner.isIsActive ? activer : deactiver }}" #}
								</td>

								<td>
									<a href="{{ path('app_structure_show', {'id': structure.id}) }}">
										{{ structure.name }}
									</a>
								</td>

								<td>
									{# <a href="{{ path('app_user_show', {'id': structure.getPartner.id}) }}"> #}
									{{ structure.getPartner }}
									{# </a> #}
								</td>

								<td class="">
									<a class="me-3" href="{{ path('app_structure_show', {'id': structure.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewbox="0 0 16 16">
											<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
											<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
										</svg>
									</a>

									<a class="me-3" href="{{ path('app_structure_edit', {'id': structure.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewbox="0 0 16 16">
											<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
										</svg>
									</a>

									<a class="me-3" href="{{ path('app_structure_valide', {'id': structure.id, 'page': app.request.get('page') ? app.request.get('page') : 1}) }}">{{ structure.isIsActive ? '
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-toggle-on text-success" viewbox="0 0 16 16">
								<path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
							</svg>
							' : 
                            '<svg width="32" height="32" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_108_2)">
                            <path d="M11 13C12.3261 13 13.5979 12.4732 14.5355 11.5355C15.4732 10.5979 16 9.32608 16 8C16 6.67392 15.4732 5.40215 14.5355 4.46447C13.5979 3.52678 12.3261 3 11 3L5 3C3.67392 3 2.40215 3.52679 1.46447 4.46447C0.526784 5.40215 -5.53044e-07 6.67392 -4.37114e-07 8C-3.21184e-07 9.32608 0.526784 10.5979 1.46447 11.5355C2.40215 12.4732 3.67392 13 5 13L11 13ZM5 4C6.06087 4 7.07828 4.42143 7.82843 5.17157C8.57857 5.92172 9 6.93913 9 8C9 9.06087 8.57857 10.0783 7.82843 10.8284C7.07828 11.5786 6.06087 12 5 12C3.93913 12 2.92172 11.5786 2.17157 10.8284C1.42143 10.0783 1 9.06087 1 8C0.999999 6.93914 1.42143 5.92172 2.17157 5.17157C2.92172 4.42143 3.93913 4 5 4Z" fill="#CD3232"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_108_2">
                            <rect width="16" height="16" fill="white" transform="translate(16 16) rotate(180)"/>
                            </clipPath>
                            </defs>
                            </svg>' }}
									</a>


									{# <a class="text-danger" href="{{ path('app_structure_edit', {'id': structure.id}) }}">
																																																																									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
																																																																										<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
																																																																									</svg>
																																																																								</a>  #}

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">Pas encore de partenaires franchisés</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

	{% endif %}

{% endblock %}
