{% extends 'base.html.twig' %}

{% block body %}
	<div class="login d-flex justify-content-center align-items-center bg-primary">
		<div class="container-lg p-lg-5 shadow rounded bg-light" id="login-form">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté
						{{ app.user.userIdentifier }}, voulez-vous vous
						<a class="text-primary" href="{{ path('app_logout') }}">déconnecter</a>
					</div>
				{% endif %}


				<h1 class=>Connectez-vous avec vos identifiants
					<span class=" display-5">BodyWolf</span>
				</h1>
				<p class="small">Si vous n'êtes pas encore client BodyWolf
					<a href="#" class="text-primary fs-6">veuillez nous contacter</a>
				</p>
				<hr class="my-4">

				<label class="form-label" for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
				<label class="form-label" for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control mb-2" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


				<button class="btn btn-primary mt-2" type="submit">
					Envoyer
				</button>

			</form>
		</div>
	</div>


{% endblock %}
