{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center align-items-center">

		<div class="form-custom container-lg bg-light mt-lg-4 mt-1 pe-md-5 ps-md-5 pt-3 pb-4 m-2  shadow-sm rounded">
			<h1 class="">Vous êtes sur le point de vous enregister sur
				<span class="text-primary display-5">BodyWolf</span>
			</h1>

			<hr class="my-4">

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.firstName, {
            label: 'Prénom'
        }) }}
			{{ form_row(registrationForm.lastName, {
            label: 'Nom'
        }) }}
			{{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			{{ form_row(registrationForm.is_active, {
            label: 'Activer le compte'
        }) }}

			<p class="small mb-3">Assurez-vous que les informations soient correctes avant de valider</p>

			<button type="submit" class="btn btn-primary">Envoyer</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>

{% endblock %}
