{# {% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <h1>Salle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salle.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ salle.name }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ salle.adresse }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ salle.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_salle_index') }}">back to list</a>

    <a href="{{ path('app_salle_edit', {'id': salle.id}) }}">edit</a>

    {{ include('salle/_delete_form.html.twig') }}
{% endblock %} #}

{% extends 'base.html.twig' %}


{% block body %}
	<div class="container-fluid bg-light pb-3">
		
		<div class="d-flex align-items-center justify-content-center">
			<h2 class="display-5">{{ salle.name }}
			</h2>
			<p class="ms-3">
				{{salle.isActive ? '<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
  				<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
				</svg>' : '<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-x-lg text-danger" viewBox="0 0 16 16">
  				<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
				</svg>' }}
			</p>
		</div>
	</div>

<div class="container d-flex flex-column mt-3 pb-3 bg-primary">
<div class="display-5 text-center pb-3 d-flex align-items-center justify-content-center text-light">
			Les options
		</div>
	<div class="container">
		<div class="row">
			{% for permissions in salle.permissions %}
				<div class="col rounded m-2 pe-3 ps-3 bg-light">
					<div class="d-flex align-items-center justify-content-center mt-3">
						<h1 class="card-title">
							{{ permissions.titre }}
						</h1>
						<p class="ms-3">
							{{permissions.isActive ? '<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-check-lg text-success" viewBox="0 0 16 16">
  								<path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
								</svg>' : '<svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-x-lg text-danger" viewBox="0 0 16 16">
  								<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
						        </svg>' }}
						</p>
					</div>
					<hr class="my-4">
					<p>
						{{ permissions.description }}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
	</div>
{% endblock %}
