<div class="d-flex justify-content-center align-items-end">

	<div class="form-custom container-lg bg-light mt-5 pe-md-5 ps-md-5 pt-3 pb-4 m-1 shadow-sm rounded">
		<div class="d-flex justify-content-between align-items-center ">

			<h1 class="">Contacter
				<span class="display-5">BodyWolf</span>
			</h1>

			<div class="">
				<a class="btn btn-primary" href="{{ path('app_structure_index') }}">Retour</a>
			</div>

		</div>


		<hr class="my-4">

{{ form_start(form) }}
<p class="">Choisissez un partenaire dans le liste déroulante avant de créer la structure</p>
		<div class="mt-2">
   		{{ form_row(form.firstName, {
            label: 'Prenom'
        }) }}
        {{ form_row(form.lastName, {
            label: 'Nom'
        }) }}
        {{ form_row(form.email, {
            label: 'Email'
        }) }}
        {{ form_row(form.sujet, {
            label: 'Sujet'
        }) }}
        {{ form_row(form.message, {
            label: 'Message'
        }) }}
    <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}
