{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-center align-items-center">

		<div class="form-custom container-lg bg-light mt-lg-4 mt-1 pe-md-5 ps-md-5 pt-3 pb-4 m-2 shadow-sm rounded">
			<div class="d-flex justify-content-between align-items-center ">

				<h1 class="">Message
					<span class="text-primary display-5">BodyWolf</span>
				</h1>

				<div class="">
					<a class="btn btn-primary" href="{{ path('app_contact_index') }}">Retour</a>
				</div>

			</div>


			<hr class="my-4">

			<table class="table">
				<tbody>
					<tr>
						<th>Prénom</th>
						<td>{{ contact.firstName }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ contact.lastName }}</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>{{ contact.email }}</td>
					</tr>
					<tr>
						<th>Sujet</th>
						<td>{{ contact.sujet }}</td>
					</tr>
					<tr>
						<th>Message</th>
						<td>{{ contact.message }}</td>
					</tr>
					<tr>
						<th>Statut</th>
						<td>{{ contact.isActive ? 'Validé' : 'En attente de validation' }}</td>
					</tr>
				</tbody>
			</table>

			{% if contact.isActive %}
			<span class="text-secondary fw-bold">Veuillez choisir la bonne validation entre partenaire et manager. La partenaire est le gérant de la structure. Le manager est le manager d'une salle.</span>
			<div class="d-flex mt-3">
				<p class="btn btn-dark me-3">Valider partenaire</p>
				<p class="btn btn-dark me-3">Valider manager</p>
				{{ include('contact/_delete_form.html.twig') }}</div>
		</div>
		{% else %}
				<span class="text-secondary fw-bold">Veuillez choisir la bonne validation entre partenaire et manager. La partenaire est le gérant de la structure. Le manager est le manager d'une salle.</span>
				<div class="d-flex mt-3">
					<a class="btn btn-success me-3" href="{{ path('app_partner_valide', {'id': contact.id, 'page': app.request.get('page') ? app.request.get('page') : 1}) }}">Valider partenaire</a>
					<a class="btn btn-success me-3" href="{{ path('app_manager_valide', {'id': contact.id, 'page': app.request.get('page') ? app.request.get('page') : 1}) }}">Valider manager</a>
					{{ include('contact/_delete_form.html.twig') }}</div>
			</div>
	{% endif %}

</div>{% endblock %}
