<div class="d-flex justify-content-center align-items-center">

	<div class="form-custom container-lg bg-light mt-5 pe-md-5 ps-md-5 pt-3 pb-4 m-1 shadow-sm rounded">
		<div class="d-flex justify-content-between align-items-start ">

			<h1 class="">Ajout d'une option
				<span class="display-5">BodyWolf</span>
			</h1>

			<div class="">
				<a class="me-5 btn btn-primary" href="{{ path('app_permission_index') }}">Retour</a>
			</div>

		</div>


		<hr class="my-4">
		<div class="needs-validation" novalidate>

			{{ form_start(form, {"attr":{ novalidate:'novalidate'}}) }}
			{{ form_row(form.titre, {
            label: 'Titre'
        }) }}
			{{ form_row(form.description, {
            label: 'Description'
        }) }}


			{{ form_row(form.is_active, {
            label: 'Option activée'
        }) }}
			<button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
			{{ form_end(form) }}
		</div>
