{% extends 'base.html.twig' %}

{% block title %}Bodywolf - Option
{% endblock %}

{% block body %}
    <h1>Permission</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ permission.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ permission.description }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ permission.titre }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ permission.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_permission_index') }}">back to list</a>

    <a href="{{ path('app_permission_edit', {'id': permission.id}) }}">edit</a>

    {{ include('permission/_delete_form.html.twig') }}
{% endblock %}
