{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex justify-content-center align-items-center">

			<div class="form-create container-xl bg-light mt-5 pe-md-5 ps-md-5 pt-3 pb-4 m-1 shadow-sm rounded">
				<div class="d-flex justify-content-between align-items-center ">
					<h1 class="">Votre profil
						<span class="display-5">BodyWolf</span>
					</h1>
				</div>

				<hr class="my-4">
    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ app.user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.lastName }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ app.user.isActive ? 'Activé' : 'En attente' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-pirmary" href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier le profil</a>
{% endblock %}