{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ app.user.email }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ app.user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ app.user.lastName }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ app.user.isActive ? 'Activé' : 'En attente' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">Modifier le profil</a>
{% endblock %}